$path-img: '../../img/';
$path-fonts: '../../fonts/';

$font-family-base: 'GraphikLCG', Arial, sans-serif;

$font-size-base: 16px;

$font-line-height-base: 1;

$thin: 100;
$extralight: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extra-bold: 800;
$black-weight: 900;

$site-width: 1200px;
$site-gutter: 15px;

$white: #fff;
$black: #000;
$text-color: #33312D;
$brand-color: #2D8984;
$purple: #5F5BAB;
$gray: #d9d9d9;
