.author-big-card {
  border: 1px solid $text-color;
  border-radius: 10px;
  width: 100%;
  display: flex;
  min-height: 500px;
  overflow: hidden;
}

.author-big-card__img-box {
  width: 43%;
  flex-shrink: 0;
}

.author-big-card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.author-big-card__text-box {
  padding: 80px 100px;
}

.author-big-card__title {
  font-family: $font-family-base;
  font-size: 44px;
  line-height: 1.2;
  color: $text-color;
  font-weight: $medium;
  margin: 0 0 35px;
}

.author-big-card__description {
  font-family: $font-family-base;
  font-size: 18px;
  line-height: 1.4;
  color: $text-color;
  font-weight: $regular;
  margin: 0;
}

@include tablet-lg {
  .author-big-card__text-box {
    padding: 50px;
  }

  .author-big-card__title {
    font-size: 36px;
  }
}

@include tablet-md {
  .author-big-card {
    flex-direction: column;
  }

  .author-big-card__img-box {
    width: 100%;
    height: 440px;
  }
}

@include tablet-sm {
  .author-big-card__title {
    font-size: 28px;
    margin-bottom: 20px;
  }

  .author-big-card__text-box {
    padding: 40px;
  }

  .author-big-card__img-box {
    height: 340px;
  }
}

@include phone-lg {
  .author-big-card__title {
    font-size: 24px;
  }

  .author-big-card__text-box {
    padding: 30px;
  }

  .author-big-card__description {
    font-size: 16px;
  }

  .author-big-card__img-box {
    height: 280px;
  }
}

@include phone-sm {
  .author-big-card__text-box {
    padding: 25px;
  }

  .author-big-card__title {
    font-size: 22px;
  }
}
