.course-program {
  margin-bottom: 80px;
}

.course-program__inner {
  @include inner;
}

.course-program__card {
  width: 100%;
  border: 1px solid $text-color;
  border-radius: 10px;
  padding: 40px 80px 60px;
}

.course-program__header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.course-program__title {
  font-family: $font-family-base;
  font-size: 52px;
  line-height: $font-line-height-base;
  color: $text-color;
  font-weight: $medium;
  margin: 0;
}

.course-program__stat-box {
  width: 39%;
  margin-left: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}

.course-program__stat-text {
  font-family: $font-family-base;
  font-size: 18px;
  line-height: 1.35;
  color: $text-color;
  font-weight: $regular;
  grid-column: 1/3;
  margin: 0 0 20px;
}

.course-program__stat-item {
  display: flex;
  align-items: flex-start;
}

.course-program__stat-number {
  font-family: $font-family-base;
  font-size: 52px;
  line-height: $font-line-height-base;
  color: $purple;
  font-weight: $extra-bold;
  margin: 0 18px 0 0;
}

.course-program__stat-name {
  font-family: $font-family-base;
  font-size: 14px;
  line-height: 1.4;
  color: $text-color;
  font-weight: $regular;
  margin: 0;
}

.course-program__modules-box {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.course-program__description {
  font-family: $font-family-base;
  font-size: 18px;
  line-height: 1.4;
  color: $text-color;
  font-weight: $regular;
}

@include tablet-lg {
  .course-program__title {
    font-size: 42px;
  }

  .course-program__stat-box {
    width: 50%;
  }

  .course-program__card {
    padding: 40px;
  }
}

@include tablet-md {
  .course-program__header {
    flex-direction: column;
    align-items: flex-start;
  }

  .course-program__title {
    margin-bottom: 30px;
  }

  .course-program__stat-box {
    width: 100%;
    margin-left: 0;
  }
}

@include tablet-sm {
  .course-program__title {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .course-program__stat-number {
    font-size: 42px;
  }

  .course-program__description {
    font-size: 16px;
  }

  .course-program {
    margin-bottom: 60px;
  }
}

@include phone-lg {
  .course-program__title {
    font-size: 26px;
  }

  .course-program__stat-text {
    font-size: 16px;
  }

  .course-program__stat-number {
    font-size: 36px;
    margin-right: 10px;
  }

  .course-program__card {
    padding: 30px;
  }
}
