.courses-page {
  margin-bottom: 100px;
}

.courses-page__inner {
  @include inner;
}

.courses-page__title {
  font-family: $font-family-base;
  font-size: 52px;
  line-height: $font-line-height-base;
  color: $text-color;
  font-weight: $extra-bold;
  margin: 20px 0 25px;
}

.courses-page__content {
  width: 100%;
  border-top: 1px solid $text-color;
  padding-top: 35px;
}

.courses-page__content {
  display: flex;
}

.courses-page__aside {
  width: 250px;
  margin-right: 50px;
  flex-shrink: 0;
}

.courses-page__aside-menu-title {
  font-family: $font-family-base;
  font-size: 20px;
  line-height: $font-line-height-base;
  color: $text-color;
  font-weight: $regular;
  margin: 0 0 25px;
}

.courses-page__aside-menu {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.courses-page__aside-menu-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }
}

.courses-page__aside-menu-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: .25s opacity ease;
  z-index: -1;
  opacity: 0;
  border-radius: 60px;
}

.courses-page__aside-menu-checkbox {
  &:checked + .courses-page__aside-menu-url {
    color: $white;

    .courses-page__aside-menu-bg {
      opacity: 1;
    }
  }
}

.courses-page__aside-menu-url {
  font-family: $font-family-base;
  font-size: 14px;
  line-height: 1.25;
  color: $text-color;
  font-weight: $regular;
  background-color: transparent;
  padding: 13px 20px 11px;
  border-radius: 40px;
  border: 1px solid $brand-color;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: .25s color ease;
  position: relative;
}

.courses-page__aside-menu-number {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $font-line-height-base;
  color: $gray;
  font-weight: $regular;
  margin-left: 12px;
  padding-left: 12px;
  border-left: 1px solid $gray;
}

.courses-page__courses-box {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px 20px;
}

@include tablet-lg {
  .courses-page__content {
    flex-direction: column;
  }

  .courses-page__aside {
    margin-right: 0;
    margin-bottom: 40px;
  }
}

@include tablet-md {
  .courses-page__courses-box {
    grid-template-columns: 1fr;
  }

  .courses-page__title {
    font-size: 42px;
  }

  .courses-page {
    margin-bottom: 80px;
  }
}

@include tablet-sm {
  .courses-page {
    margin-bottom: 60px;
  }
}
