.education-stages {
  margin-bottom: 70px;
}

.education-stages__inner {
  @include inner;
  flex-direction: column;
}

.education-stages__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.education-stages__title {
  font-family: $font-family-base;
  font-size: 52px;
  line-height: $font-line-height-base;
  color: $text-color;
  font-weight: $extra-bold;
  margin: 0;
  max-width: 520px;
}

.education-stages__page-url {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: 1.4;
  color: $text-color;
  font-weight: $regular;
  display: block;
  border-bottom: 1px solid $brand-color;
  position: relative;
  margin-right: 54px;
}

.education-stages__page-url-icon {
  position: absolute;
  right: -12px;
  top: 50%;
  transform: translate(100%, -50%);
  fill: $brand-color;
  vertical-align: middle;
}

.education-stages__stages-box {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px 100px;
}

.education-stages__stage {
  text-align: center;
}

.education-stages__stage-img {
  width: 100%;
  height: auto;
  margin-bottom: 35px;
}

.education-stages__stage-name {
  font-family: $font-family-base;
  font-size: 20px;
  line-height: $font-line-height-base;
  color: $text-color;
  font-weight: $regular;
  margin: 0;
}
