.header {
  padding: 20px 0;
  background-color: $white;
  position: relative;
}

.header__inner {
  @include inner;
  justify-content: flex-start;
  align-items: center;
}

.header__logo-url {
  display: block;
  margin-right: 30px;
}

.header__logo {
  width: 80px;
  height: auto;
}

.header__licence {
  display: block;
  background-color: transparent;
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $font-line-height-base;
  color: $brand-color;
  font-weight: $regular;
  margin-right: 30px;
}

.header__navigation {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.header__dropdown {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $font-line-height-base;
  color: $text-color;
  font-weight: $regular;
  padding: 15px 23px;
  border: 1px solid $brand-color;
  border-radius: 50px;
  position: relative;
  margin-right: 70px;
}

.header__dropdown-icon {
  fill: $brand-color;
  vertical-align: middle;
}

.header__menu {
  padding: 0;
  margin: 0 70px 0 0;
  list-style-type: none;
  display: flex;
  align-items: center;
}

.header__menu-item {
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.header__menu-item {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $font-line-height-base;
  color: $text-color;
  font-weight: $regular;
}

.header__login-btn {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $font-line-height-base;
  color: $text-color;
  font-weight: $regular;
}

.header__login-icon {
  fill: $text-color;
  margin-right: 10px;
  vertical-align: middle;
}

.header__profile-btn {
  display: flex;
  align-items: center;
}

.header__profile-img-box {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  margin-right: 10px;
  overflow: hidden;
}

.header__profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header__user-name {
  display: block;
  margin: 0;
  color: $text-color;
  font-weight: $regular;
  font-size: 18px;
  font-family: $font-family-base;
  line-height: 1.35;
}

.header__burger {
  width: 28px;
  height: 20px;
  position: relative;
  border: 0;
  display: none;
  margin: auto 0;
  outline: none;

  &:hover,
  &:focus {
    .header__burger-line {
      background-color: $brand-color;

      &::before {
        background-color: $brand-color;
      }

      &::after {
        background-color: $brand-color;
      }
    }
  }

  &--active {
    .header__burger-line {
      background-color: transparent !important;

      &::before {
        transform: translateY(0) rotate(-45deg);
      }

      &::after {
        transform: translateY(0) rotate(45deg);
      }
    }
  }
}

.header__burger-line {
  width: 28px;
  height: 2px;
  background-color: $text-color;
  display: block;
  position: absolute;
  top: calc(50% - 1px);
  left: 0;
  transition: .25s background-color ease;

  &::before {
    content: "";
    display: block;
    width: 28px;
    height: 2px;
    background-color: $text-color;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(-8px);
    transition: .25s transform ease, .25s background-color ease;
  }

  &::after {
    content: "";
    display: block;
    width: 28px;
    height: 2px;
    background-color: $text-color;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(8px);
    transition: .25s transform ease, .25s background-color ease;
  }
}

.header__mobile-menu-box {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  width: 100%;
  padding: 36px;
  background-color: $white;
  text-align: center;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  z-index: 2;
  display: none;
}

.header__mobile-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.header__mobile-menu-item {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.header__mobile-menu-url {
  font-family: $font-family-base;
  font-weight: $regular;
  color: $text-color;
  font-size: 18px;
  margin: 0;
  text-decoration: none;
  outline: none;
  transition: .25s color ease;

  &:hover, &:focus {
    color: $brand-color;
    outline: none;
  }
}

.header__mobile-menu-btn {
  display: inline-flex;
  align-items: center;
  font-family: $font-family-base;
  font-weight: $regular;
  color: $text-color;
  font-size: 18px;
  margin: 20px 0 0;
  text-decoration: none;
  outline: none;
  transition: .25s color ease;

  &:hover, &:focus {
    color: $brand-color;
    outline: none;
  }
}

@include screen-sm {
  .header__menu {
    display: none;
  }

  .header__dropdown {
    display: none;
  }

  .header__burger {
    display: block;
  }

  .header__login-btn {
    display: none;
  }
}

@include tablet-sm {
  .header__licence {
    display: none;
  }
}
