.module {
  background-color: $white;
  padding: 37px 80px 46px;
  border: 1px solid $text-color;
  border-radius: 10px;
  display: flex;
  width: 100%;
}

.module__text-box {
  margin-right: 80px;
}

.module__title {
  font-family: $font-family-base;
  font-size: 30px;
  line-height: 1.35;
  color: $text-color;
  font-weight: $medium;
  margin: 0 0 20px;
}

.module__text {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: 1.35;
  color: $text-color;
  font-weight: $regular;
  margin: 0;
}

.module__price {
  display: block;
  text-align: right;
  font-family: $font-family-base;
  font-size: 36px;
  line-height: $font-line-height-base;
  color: $text-color;
  font-weight: $regular;
  margin: 0 0 22px;
}

.module__action-box {
  flex-shrink: 0;
  margin-left: auto;
}

.module__checkbox-label {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
}

.module__checkbox-text {
  font-family: $font-family-base;
  font-size: 20px;
  line-height: $font-line-height-base;
  color: $purple;
  font-weight: $regular;
  margin: 0 12px 0 0;
}

.module__checkbox-input {
  &:checked + .module__checkbox {
    background-color: $purple;
  }

  &.focus-visible + .module__checkbox {
    outline: 2px solid $black;
  }
}

.module__checkbox {
  display: block;
  width: 19px;
  height: 19px;
  border: 1px solid $purple;
  flex-shrink: 0;
  background-color: $white;
  transition: .25s background-color ease;
}

@include tablet-lg {
  .module {
    padding: 40px;
  }

  .module__title {
    font-size: 28px;
  }

  .module__price {
    font-size: 32px;
  }

  .module__text-box {
    margin-right: 40px;
  }
}

@include tablet-md {
  .module {
    flex-direction: column;
  }

  .module__text-box {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .module__action-box {
    margin-left: 0;
  }

  .module__price {
    text-align: left;
  }

  .module__checkbox-label {
    justify-content: flex-start;
  }
}

@include tablet-sm {
  .module__title {
    font-size: 24px;
  }

  .module__price {
    font-size: 26px;
  }
}

@include phone-lg {
  .module {
    padding: 30px;
  }

  .module__title {
    font-size: 20px;
  }
}
