.product-card-mini {
  border: 1px solid $text-color;
  border-radius: 10px;
  padding: 40px;
  background-color: $white;
}

.product-card-mini__2-cols-box {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.product-card-mini__img-box {
  width: 23%;
  margin-right: 20px;
}

.product-card-mini__time {
  font-family: $font-family-base;
  font-size: 14px;
  line-height: $font-line-height-base;
  color: $brand-color;
  font-weight: $regular;
  margin: 0 0 12px;
  display: block;
}

.product-card-mini__author {
  font-family: $font-family-base;
  font-size: 14px;
  line-height: 1.4;
  color: $text-color;
  font-weight: $regular;
  margin: 0 0 4px;
}

.product-card-mini__category {
  font-family: $font-family-base;
  font-size: 14px;
  line-height: $font-line-height-base;
  color: $brand-color;
  font-weight: $regular;
  margin: 0;
}

.product-card-mini__title {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: 1.4;
  color: $text-color;
  font-weight: $bold;
  margin: 0;
}
