.program-module {
  width: 100%;
  border-top: 1px solid $text-color;
}

.program-module__header {
  width: 100%;
  padding: 25px 0;
  display: flex;
  align-items: center;
}

.program-module__name {
  font-family: $font-family-base;
  font-size: 30px;
  line-height: 1.35;
  color: $text-color;
  font-weight: $medium;
  margin: 0 20px 0 0;
}

.program-module__add-btn {
  width: 40px;
  height: 40px;
  border: 1px solid $purple;
  border-radius: 40px;
  position: relative;
  margin-left: auto;
  flex-shrink: 0;

  &.active {
    background-color: $purple;

    .program-module__add-icon {
      fill: $white;
      transform: rotate(45deg) translate(-70%, 0%);
    }
  }
}

.program-module__add-icon {
  display: block;
  fill: $purple;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.program-module__text {
  margin: 0;
  padding-bottom: 25px;
  color: $text-color;
  font-weight: $regular;
  font-size: 18px;
  font-family: $font-family-base;
  line-height: 1.35;
}

.program-module__content {
  height: 0;
  overflow: hidden;

  &.active {
    height: auto;
    overflow: visible;
  }
}

@include tablet-lg {
  .program-module__name {
    font-size: 26px;
  }

  .program-module__text {
    font-size: 16px;
  }
}

@include tablet-sm {
  .program-module__name {
    font-size: 22px;
  }
}

@include phone-lg {
  .program-module__name {
    font-size: 18px;
  }
}
