.restore-password-popup-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f3f3f6;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  transition: .25s opacity ease, .25s visibility ease;
  padding: 0 20px;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.restore-password-popup {
  width: 620px;
  max-width: 100%;
  border: 1px solid $text-color;
  border-radius: 10px;
  background-color: $white;
  padding: 50px;
}

.restore-password-popup__title {
  font-family: $font-family-base;
  font-size: 24px;
  line-height: 1.35;
  color: $text-color;
  font-weight: $extra-bold;
  margin: 0 0 12px;
}

.restore-password-popup__text {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: 1.35;
  color: $text-color;
  font-weight: $regular;
  margin: 0 0 40px;
}

.restore-password-popup__form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.restore-password-popup__submit-btn {
  font-family: $font-family-base;
  font-size: 18px;
  line-height: $font-line-height-base;
  color: $white;
  font-weight: $regular;
  padding: 13px 32px;
  border: 1px solid $brand-color;
  border-radius: 40px;
  background-color: $brand-color;
  text-align: center;
  justify-self: start;
  align-self: start;
  min-width: 140px;
}

@include tablet-md {
  .restore-password-popup {
    padding: 40px;
  }
}

@include tablet-sm {
  .restore-password-popup__form {
    grid-template-columns: 1fr;
  }
}

@include phone-lg {
  .restore-password-popup {
    padding: 30px;
  }
}
